{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

<div class="mx-auto image-with-text">
    <div class="flex flex-wrap{% if section.settings.additional_top_spacing %} pt-88{% endif %}">
        <div class="w-full pt-32 mx-32">
            <div class="aspect-w-3 md:aspect-w-11 aspect-h-4 image-with-text__media image-with-text__media--{{ section.settings.height }} {% if section.settings.image != blank %}media{% else %}image-with-text__media--placeholder placeholder{% endif %}"
            >
                {% comment %}{% if section.settings.height == 'adapt' and section.settings.image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"{% endif %}{% endcomment %}
                {%- if section.settings.image != blank -%}
                    <img src="{{ section.settings.image | img_url: '3000x' }}"
                         alt="{{ section.settings.image.alt | escape }}"
                         loading="lazy"
                         width="{{ section.settings.image.width }}"
                         height="{{ section.settings.image.height }}"
                    >
                {%- else -%}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
            </div>
        </div>

        <div class="w-full md:px-64">
            <div class="flex flex-wrap">
                {%- for block in section.blocks -%}
                    {% case block.type %}
                        {%- when 'heading' -%}
                            <div class="md:w-1/2 p-32 pb-0 md:pb-32">
                                <h2 class="image-with-text__heading h1 text-fullMoon mt-0" {{ block.shopify_attributes }}>
                                    {{ block.settings.heading | escape }}
                                </h2>
                            </div>
                        {%- when 'text' -%}
                            <div class="md:w-1/2 p-32">
                                <div class="image-with-text__text rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
                            </div>
                    {%- endcase -%}
                {%- endfor -%}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Full Width Image w/ Text",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "checkbox",
            "id": "additional_top_spacing",
            "label": "Add Additional Top Spacing"
        }
    ],
    "blocks": [
        {
            "type": "heading",
            "name": "Heading",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "default": "Heading",
                    "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
                }
            ]
        },
        {
            "type": "text",
            "name": "t:sections.image-with-text.blocks.text.name",
            "limit": 1,
            "settings": [
                {
                    "type": "richtext",
                    "id": "text",
                    "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
                    "label": "t:sections.image-with-text.blocks.text.settings.text.label"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Full Width Image w/ Text",
            "blocks": [
                {
                    "type": "heading"
                },
                {
                    "type": "text"
                }
            ]
        }
    ]
}
{% endschema %}
