<div class="md:mx-32 md:py-32{% if section.settings.remove_top_spacing %} pt-0{% endif %}">
    <div class="aspect-w-3 md:aspect-w-11 aspect-h-4 image-with-text__media image-with-text__media--{{ section.settings.height }} {% if section.settings.image != blank %}media{% else %}image-with-text__media--placeholder placeholder{% endif %}"
    >
        {% comment %}{% if section.settings.height == 'adapt' and section.settings.image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"{% endif %}{% endcomment %}
        {%- if section.settings.image != blank -%}
            <img src="{{ section.settings.image | img_url: '3000x' }}"
                 alt="{{ section.settings.image.alt | escape }}"
                 loading="lazy"
                 width="{{ section.settings.image.width }}"
                 height="{{ section.settings.image.height }}"
            >
        {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
    </div>
</div>

{% schema %}
{
    "name": "Image",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "checkbox",
            "id": "remove_top_spacing",
            "label": "Remove Top Spacing"
        }
    ],
    "presets": [
        {
            "name": "Image"
        }
    ]
}
{% endschema %}
