{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{% assign totalCollections = 0 %}

{% for collection in collections %}
  {% if collection.metafields.custom_fields.show_as_filter %}
    {% assign totalCollections = totalCollections |  plus: 1 %}
  {% endif %}
{% endfor %}

<script src="{{ 'nav-select.js' | asset_url }}" defer="defer"></script>

  <div class="flex flex-wrap collection-nav">
    <div class="w-full p-32 md:p-64">
      <nav-select>
        <select name="nav" id="" class="md:hidden bg-transparent w-full">
          {% for collection in collections %}
            {% if collection.metafields.custom_fields.show_as_filter %}
              <option value="{{ collection.url }}" {% if collection.url contains request.path %}selected{% endif %}>{{ collection.title }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </nav-select>
      <nav class="hidden md:block">
        <ul class="flex flex-wrap justify-center">
          {% assign currentCollectionIndex = 1 %}
          {% for i in (1..totalCollections) %}
            {% for collection in collections %}
              {% assign menu_order = collection.metafields.custom_fields.menu_order | plus: 0 %}
              {% if collection.metafields.custom_fields.show_as_filter and currentCollectionIndex == menu_order %}
                {% assign currentCollectionIndex = currentCollectionIndex |  plus: 1 %}
                <li class="px-32 py-8">
                  <a href="{{ collection.url }}" class="hover:text-vine">
                    {{ collection.title }}
                  </a>
                </li>
                {% break %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    }
  ]
}
{% endschema %}
