{{ 'section-main-press.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="{{ 'section-main-press.js' | asset_url }}"></script>

<script src="{{ 'nav-select.js' | asset_url }}" defer="defer"></script>

<script>
    if (window.location.pathname === "/blogs/tech-sheets") {
      window.location.pathname = "/blogs/tech-sheets/tagged/current-releases";
    }
</script>

<div class="main-blog mx-auto" style="max-width: 1280px;">
    <div class="flex flex-wrap md:p-32">
        <div class="w-full p-32 text-center">
            <h1>{% if section.settings.heading %}{{ sectin.settings.heading }}{% else %}{{ blog.title | escape }}{% endif %}</h1>
        </div>

        <div class="w-full pt-96">
            <div class="flex flex-wrap">
                {% assign techSheetTags = blogs['tech-sheets'].all_tags | sort: 'price' %}

                <div class="w-full p-32 md:hidden">
                    <nav-select>
                        <select name="nav" id="" class="md:hidden bg-transparent w-full">
                            {% for tag in techSheetTags %}
                                {% if tag.title == 'Current Releases' %}
                                    <option value="{{ blog.url }}/tagged/{{ tag | handle }}" {% if current_tags contains tag  %}selected{% endif %}>Current Releases</option>
                                {% endif %}
                            {% endfor %}
                            {% for tag in techSheetTags %}
                                {% unless tag.title == 'Current Releases' %}
                                    <option value="{{ blog.url }}/tagged/{{ tag | handle }}" {% if current_tags contains tag  %}selected{% endif %}>{{ tag.title }}</option>
                                {% endunless %}
                            {% endfor %}
                        </select>
                    </nav-select>
                </div>

                <div class="w-full sm:hidden md:block md:w-1/2 lg:w-1/4 p-32 -mt-16">
                    {% for tag in techSheetTags %}
                        {% if tag.title == 'Current Releases' %}
                            <ul class="categories mb-32">
                                <li class="py-24{% if current_tags contains tag  %} text-vine italic{% endif %}">
                                    <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="h4 uppercase hover:text-vine">{{ tag.title }}</a>
                                </li>
                            </ul>
                        {% endif %}
                    {% endfor %}

                    <ul class="categories">
                        <li class="h4 uppercase" style="margin-bottom: 16px;">Past Releases</li>
                        {% for tag in techSheetTags %}
                            {% if tag.title != 'Current Releases' %}
                                <li class="py-8{% if current_tags contains tag  %} text-vine{% endif %}">
                                    <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="h4 uppercase hover:text-vine">{{ tag.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="w-full md:w-1/2 lg:w-3/4 p-32">
                    {%- paginate blog.articles by 12 -%}
                        <div class="flex flex-wrap">
                            {%- for article in blog.articles -%}
                                <div class="w-full py-8">
                                    <div class="flex flex-wrap">
                                        <div class="w-full">
                                                <p class="mb-8">
                                                    <a href="{{ article.url }}" class="block hover:text-vine hover:underline" aria-label="View Details About {{ article.title | escape }}">
                                                        {{ article.title | escape }}
                                                    </a>
                                                </p>
                                        </div>
                                    </div>
                                </div>
                            {%- endfor -%}
                        </div>

                        {%- if paginate.pages > 1 -%}
                            {%- render 'pagination', paginate: paginate -%}
                        {%- endif -%}
                    {%- endpaginate -%}
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
"name": "Tech Sheets",
"tag": "section",
"settings": [
{
"type": "header",
"content": "Blog Settings"
},
{
"type": "richtext",
"id": "blog_description",
"label": "Description"
},
{
"type": "checkbox",
"id": "show_featured",
"default": true,
"label": "Show Featured Posts"
},
{
"type": "checkbox",
"id": "show_categories",
"default": true,
"label": "Show Blog Categories"
},
{
"type": "header",
"content": "t:sections.main-blog.settings.header.content"
},
{
"type": "checkbox",
"id": "show_image",
"default": true,
"label": "t:sections.main-blog.settings.show_image.label",
"info": "t:sections.main-blog.settings.show_image.info"
},
{
"type": "checkbox",
"id": "show_date",
"default": true,
"label": "t:sections.main-blog.settings.show_date.label"
},
{
"type": "checkbox",
"id": "show_author",
"default": false,
"label": "t:sections.main-blog.settings.show_author.label"
},
{
"type": "paragraph",
"content": "t:sections.main-blog.settings.paragraph.content"
}
]
}
{% endschema %}