{{ 'section-main-press.css' | asset_url | stylesheet_tag }}
<script type="text/javascript" src="{{ 'section-main-press.js' | asset_url }}"></script>

<script src="{{ 'nav-select.js' | asset_url }}" defer="defer"></script>

<div class="main-blog mx-auto" style="max-width: 1680px;">
    <div class="flex flex-wrap md:p-32">
        <div class="w-full p-32 text-center">
            <h1>{% if section.settings.heading %}{{ sectin.settings.heading }}{% else %}{{ blog.title | escape }}{% endif %}</h1>
        </div>

        {% if section.settings.show_featured %}
            <div class="w-full">
                <div id="featured_press" class="flex featured-press px-32">
                    {% paginate blogs['news'].articles by 99999999999 %}
                        {% assign featuredArticles = blogs['news'].articles %}
                        {% for article in featuredArticles %}
                            {% if article.metafields.custom_fields.featured == 1 and article.content != blank %}
                                <div class="flex w-full md:w-1/2">
                                    <div class="featured-press-card py-56 px-64">
                                        <div>
                                            {% if article.metafields.custom_fields.dark_logo %}
                                                <img src="{{ article.metafields.custom_fields.dark_logo }}"
                                                     style="height: 20px; width: auto;"
                                                     class="mb-24"
                                                     alt=""
                                                >
                                            {% endif %}
                                        </div>

                                        <div class="content">
                                            {{ article.content }}
                                        </div>

                                        <p class="mt-16">
                                            <a href="{{ article.metafields.custom_fields.link }}" class="button--text button--text-dark" target="_blank" aria-label="Read {{ article.title | escape }}">
                                                Read The Full Article
                                                <span class="arrow"></span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endpaginate %}
                </div>
                <div class="flex mt-40">
                    <div class="w-1/2 text-right px-32">
                        <button class="slick-prev"  aria-controls="featured_press" aria-label="Previous Press Article">
                            <svg width="121" height="21" viewBox="0 0 121 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.03932 1.04243L0.6875 10.7024L8.03932 20.3624C8.10571 20.4764 8.19007 20.5704 8.28667 20.6381C8.38327 20.7057 8.48987 20.7454 8.59924 20.7546C8.70862 20.7637 8.81821 20.742 8.92061 20.6909C9.023 20.6399 9.11581 20.5606 9.19275 20.4586C9.26969 20.3566 9.32896 20.2342 9.36656 20.0996C9.40415 19.965 9.41919 19.8215 9.41065 19.6787C9.40211 19.5358 9.37019 19.3971 9.31706 19.2718C9.26393 19.1465 9.19082 19.0376 9.10269 18.9524L3.60222 11.7024C3.60222 11.7024 120.033 11.7024 120.236 11.7024C120.439 11.7024 120.616 11.6038 120.777 11.4095C120.953 11.1961 121.001 10.7024 121.001 10.7024C121.001 10.7024 120.92 10.1829 120.777 9.99533C120.634 9.80779 120.439 9.70243 120.236 9.70243L3.60222 9.70243L9.10269 2.45243C9.24573 2.26413 9.32569 2.00926 9.32497 1.7439C9.32425 1.47853 9.24292 1.22441 9.09887 1.03743C8.95481 0.850455 8.75983 0.745938 8.55682 0.746876C8.35382 0.747814 8.15941 0.85413 8.01637 1.04243L8.03932 1.04243Z" fill="#30292F"/>
                            </svg>
                        </button>
                    </div>
                    <div class="w-1/2 px-32">
                        <button class="slick-next"  aria-controls="featured_press" aria-label="Next Press Article">
                            <svg width="121" height="21" viewBox="0 0 121 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M112.961 20.461L120.312 10.801L112.961 1.14098C112.894 1.02701 112.81 0.933016 112.713 0.865363C112.617 0.797709 112.51 0.757977 112.401 0.748855C112.291 0.739733 112.182 0.761436 112.079 0.812493C111.977 0.86355 111.884 0.942769 111.807 1.04479C111.73 1.14681 111.671 1.26924 111.633 1.40381C111.596 1.53837 111.581 1.68193 111.589 1.82475C111.598 1.96757 111.63 2.10633 111.683 2.23162C111.736 2.35692 111.809 2.46583 111.897 2.55098L117.398 9.80099C117.398 9.80099 0.966873 9.80098 0.763977 9.80098C0.561081 9.80098 0.383629 9.89965 0.223022 10.0939C0.0465619 10.3073 -0.00103793 10.801 -0.00103793 10.801C-0.00103793 10.801 0.0795513 11.3206 0.223022 11.5081C0.366493 11.6956 0.561081 11.801 0.763977 11.801L117.398 11.801L111.897 19.051C111.754 19.2393 111.674 19.4942 111.675 19.7595C111.676 20.0249 111.757 20.279 111.901 20.466C112.045 20.653 112.24 20.7575 112.443 20.7565C112.646 20.7556 112.841 20.6493 112.984 20.461L112.961 20.461Z" fill="#30292F"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="w-full pt-96">
            <div class="flex flex-wrap">
                {% assign pressTags = blogs['news'].all_tags | sort: 'price' %}

                <div class="w-full px-32 md:hidden">
                    <nav-select>
                        <select name="nav" id="" class="md:hidden bg-transparent w-full">
                            {% for tag in pressTags %}
                                    <option value="{{ blog.url }}/tagged/{{ tag | handle }}" {% if current_tags contains tag  %}selected{% endif %}>{{ tag.title }}</option>
                            {% endfor %}
                        </select>
                    </nav-select>
                </div>

        <div class="w-full md:w-1/4 sm:hidden md:block p-32 -my-8">
            <ul class="categories">

                {% for tag in pressTags %}
                    <li class="py-8{% if current_tags contains tag  %} text-vine italic{% endif %}">
                        <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="h4 hover:text-vine"{% if current_tags contains tag  %} style="font-style: italic;"{% endif %}>{{ tag.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="w-full md:w-3/4 p-32">
            {%- paginate blog.articles by section.settings.posts_per_page -%}
                <div class="flex flex-wrap -my-8">
                    {%- for article in blog.articles -%}
                        {% if article.metafields.custom_fields.include_in_press_marquee == 0 %}
                            <div class="w-full py-8 mb-8">
                                <div class="flex flex-wrap">
                                    <div class="w-full">
                                        {% if article.metafields.custom_fields.link %}
                                            <a href="{{ article.metafields.custom_fields.link }}" class="block hover:text-vine hover:italic" target="_blank">
                                        {% endif %}
                                            <p class="mb-8">
                                                {{ article.title | escape }}
                                            </p>
                                            {% if article.metafields.custom_fields.color_logo %}
                                            <img src="{{ article.metafields.custom_fields.color_logo }}"
                                                 style="height: 16px; width: auto;"
                                                 loading="lazy"
                                            >
                                            {% endif %}
                                        {% if article.metafields.custom_fields.link %}
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {%- endfor -%}
                </div>

                {%- if paginate.pages > 1 -%}
                    {%- render 'pagination', paginate: paginate -%}
                {%- endif -%}
            {%- endpaginate -%}
        </div>
    </div>
</div>
    </div>
</div>

{% schema %}
{
    "name": "Press",
    "tag": "section",
    "class": "spaced-section",
    "settings": [
        {
            "type": "header",
            "content": "Blog Settings"
        },
        {
            "type": "richtext",
            "id": "blog_description",
            "label": "Description"
        },
        {
            "type": "checkbox",
            "id": "show_featured",
            "default": true,
            "label": "Show Featured Posts"
        },
        {
            "type": "checkbox",
            "id": "show_categories",
            "default": true,
            "label": "Show Blog Categories"
        },
        {
            "type": "range",
            "id": "posts_per_page",
            "min": 6,
            "max": 24,
            "step": 3,
            "default": 24,
            "label": "Posts per page"
        }
    ]
}
{% endschema %}
