{{ 'section-press-marquee.css' | asset_url | stylesheet_tag }}
{% assign show_marquee = false %}

{% paginate blogs['news'].articles by 99999999999 %}
    {% assign pressArticles = blogs['news'].articles %}

    {%- for press in pressArticles -%}
        {% if press.metafields.custom_fields.include_in_press_marquee == 1 %}
            {% assign show_marquee = true %}
        {% endif %}
    {% endfor %}
{% endpaginate %}

{% if show_marquee %}
<div class="bg-earth py-48 overflow-x-hidden press-marquee">
    <div class="flex animate-marquee relative items-center">
        {%- for press in pressArticles -%}
            {% if press.metafields.custom_fields.include_in_press_marquee == 1 %}
                <div class="text-fullMoon p-32 text-center" style="min-width: 360px; max-width: 360px;">
                    <div class="text-mono">
                        {{ press.content | strip_html }}
                    </div>
                    {% if press.metafields.custom_fields.light_logo %}
                        <img src="{{ press.metafields.custom_fields.light_logo }}" alt="{{ press.title }} Logo" class="pt-32" style="max-height: 60px; width: auto; max-width: 400px; margin: auto;">
                    {% endif %}
                </div>
            {% endif %}
        {%- endfor -%}
        {%- for press in pressArticles -%}
            {% if press.metafields.custom_fields.include_in_press_marquee == 1 %}
                <div class="text-fullMoon p-32 text-center" style="min-width: 360px;" aria-hidden="true">
                    <div class="text-mono">
                        {{ press.content | strip_html }}
                    </div>
                    {% if press.metafields.custom_fields.light_logo %}
                        <img src="{{ press.metafields.custom_fields.light_logo }}" alt="{{ press.title }} Logo" class="pt-32" style="max-height: 60px; width: auto; max-width: 400px; margin: auto;">
                    {% endif %}
                </div>
            {% endif %}
        {%- endfor -%}
        {%- for press in pressArticles -%}
            {% if press.metafields.custom_fields.include_in_press_marquee == 1 %}
                <div class="text-fullMoon p-32 text-center hidden lg:inline-block" style="min-width: 360px;" aria-hidden="true">
                    <div class="text-mono">
                        {{ press.content | strip_html }}
                    </div>
                    {% if press.metafields.custom_fields.light_logo %}
                        <img src="{{ press.metafields.custom_fields.light_logo }}" alt="{{ press.title }} Logo" class="pt-32" style="max-height: 60px; width: auto; max-width: 400px; margin: auto;">
                    {% endif %}
                </div>
            {% endif %}
        {%- endfor -%}
    </div>
</div>
{% endif %}

{% schema %}
{
    "name": "Press Marquee",
    "presets": [
        {
            "name": "Press Marquee"
        }
    ]
}
{% endschema %}
