<link rel="stylesheet" href="{{ 'component-badge.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-product-grid.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-product-recommendations.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-badge.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-price.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-product-recommendations.css' | asset_url | stylesheet_tag }}</noscript>

{% if product.metafields.custom_fields.related != blank %}
  <div class="flex flex-wrap p-32 md:px-64 -mx-32">
    <div class="w-full md:w-1/4 p-32">
      <h2 class="product-recommendations__heading">{{ section.settings.heading | escape }}</h2>
      {{ section.settings.content }}
    </div>
    <div class="w-full md:w-3/4 p-32">
      {% assign product_refs = product.metafields.custom_fields["related_products"] | split: "|" %}
      <ul class="flex flex-wrap -mx-32" role="list">

        {% for reccomendation in product_refs %}
          {% assign product_ref = all_products[reccomendation] %}
          {% if product_ref.title != blank %}
            <li class="w-full md:w-1/3 p-32">
              {% render 'product-card', product_card_product: product_ref, available: product_ref.available %}
            </li>
          {% endif %}
        {% endfor %}

    </div>
      </ul>
    </div>
  </div>

{% endif %}

{% schema %}
{
  "name": "t:sections.product-recommendations.name",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "You may also like",
      "label": "t:sections.product-recommendations.settings.heading.label"
    },
    {
      "type": "richtext",
      "id": "content",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fringilla venenatis pretium laoreet aliquam sit feugiat pellentesque ac tellus. </p>",
      "label": "Content"
    }
  ]
}
{% endschema %}
