{{ 'section-related-news.css' | asset_url | stylesheet_tag }}

{% if product.metafields.custom_fields.testimonial_content != blank or section.settings.testimonial != blank %}
    <div class="flex flex-wrap p-32 md:p-72 items-center text-center bg-earth text-fullMoon section-related-news">
        <div class="w-full">
            <div class="flex flex-wrap">
                <div class="w-full">
                    <div class="mx-auto" style="max-width: 900px;">
                        {% if product.metafields.custom_fields.testimonial_url or section.settings.link %}
                            <a href="{% if product.metafields.custom_fields.testimonial_url %}{{ product.metafields.custom_fields.testimonial_url }}{% else %}{{ section.settings.link }}{% endif %}" target="_blank" rel="noopener noreferrer">
                        {% endif %}
                            {% if product.metafields.custom_fields.testimonial_content != blank %}
                                {{ product.metafields.custom_fields.testimonial_content }}
                            {% else %}
                                {{ section.settings.testimonial }}
                            {% endif %}

                            {% if product.metafields.custom_fields.attribution %}
                                <p>
                                  {% if product.metafields.custom_fields.attribution %}
                                      {{ product.metafields.custom_fields.attribution }}
                                  {% else %}
                                      {{ section.settings.attribution }}
                                  {% endif %}
                                </p>
                            {% endif %}
                        {% if product.metafields.custom_fields.testimonial_url or section.settings.link %}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% schema %}
{
    "name": "Testimonial",
    "tag": "section",
    "settings": [
        {
            "type": "richtext",
            "id": "testimonial",
            "label": "Testimonial"
        },
        {
            "type": "text",
            "id": "attribution",
            "label": "Attribution"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Link"
        }
    ],
    "presets": [
        {
            "name": "Testimonial"
        }
    ]
}
{% endschema %}