{{ 'section-faq.css' | asset_url | stylesheet_tag }}

<script src="{{ 'section-faq.js' | asset_url }}" defer="defer"></script>

<div class="faq container mx-auto mb-32">
    <div class="flex flex-wrap">
        <div class="md:w-1/3 px-32 pt-32 pb-0 md:py-32 md:sticky top-0 self-start">
            {% if section.settings.heading %}
                <h2 class="{% if section.settings.content %}mb-8{% endif %}">{{ section.settings.heading }}</h2>
            {% endif %}
            {% if section.settings.content %}
                {{ section.settings.content }}
            {% endif %}
        </div>
        <div class="md:w-2/3 md:p-32 px-32 pb-32">
            {%- for block in section.blocks -%}
                {% assign count = count | plus:1 %}
                <faq-accordion class="block accordion pt-16">
                    <h3 class="accordion--trigger pb-16 hover:text-vine cursor-pointer" data-accordion-toggle>{{ block.settings.heading }}</h3>
                    <div class="accordion--content pb-16 hidden" data-accordion-content="accordion{{ count }}">
                        {{ block.settings.content }}
                    </div>
                </faq-accordion>
            {%- endfor -%}
        </div>
    </div>
</div>


{% schema %}
{
    "name": "FAQ",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content"
        }
    ],
    "blocks": [
        {
            "type": "faq",
            "name": "FAQ",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "richtext",
                    "id": "content",
                    "label": "Content"
                }
            ]
        }
    ],
    "presets": [
        {
        "name": "FAQ",
        "blocks": [
            {
                "type": "faq"
            }
        ]
    }
    ]
}
{% endschema %}
