{% if product and product.metafields.custom_fields.playlist_link %}
    <div class="flex flex-wrap p-32 md:p-64 md:mb-64 items-center text-center">
        <div class="w-full mb-16">
        <svg class="inline-block mx-auto" width="178" height="53" viewBox="0 0 178 53" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M26.6761 52.9684C41.4089 52.9684 53.3522 41.111 53.3522 26.4842C53.3522 11.8574 41.4089 0 26.6761 0C11.9433 0 0 11.8574 0 26.4842C0 41.111 11.9433 52.9684 26.6761 52.9684Z" fill="#30292F"/>
            <path d="M70.8496 14.1439C71.6782 14.1439 75.2159 13.8908 79.5504 17.1183C79.7416 17.2765 79.7735 17.5296 79.646 17.7511L77.5744 20.6305C77.415 20.852 77.1282 20.8836 76.937 20.7254C76.5545 20.4407 75.9171 19.966 75.1203 19.5863C73.8773 18.9535 72.2519 18.4472 70.8496 18.4472C69.4473 18.4472 67.1844 18.8902 67.1844 21.1051C67.1844 22.8771 68.778 23.5415 73.6542 24.7439C76.8413 25.5666 80.5384 27.0854 80.5384 31.895C80.5384 36.3248 76.8095 39.141 71.6782 39.141C68.5867 39.141 64.3479 37.9702 61.6707 35.2807C61.5114 35.1224 61.5114 34.8693 61.6388 34.6795L63.9654 31.9583C64.1248 31.7684 64.4435 31.7368 64.6028 31.9266C65.4952 32.7493 68.0768 34.8377 71.6464 34.8377C75.8533 34.8377 75.694 32.3063 75.694 31.9266C75.694 31.1356 75.1203 29.9965 73.0168 29.4269C70.9452 28.8574 65.7183 27.8765 63.7423 25.5983C62.5312 24.1744 62.3719 22.6239 62.3719 21.4215C62.3719 18.7636 64.1248 14.1439 70.8496 14.1439Z" fill="#30292F"/>
            <path d="M92.6174 19.9343C88.8567 19.9343 86.8169 22.6872 86.8169 22.6872V20.7887C86.8169 20.5355 86.6257 20.3457 86.3707 20.3457H82.5143C82.2593 20.3457 82.0681 20.5355 82.0681 20.7887V43.8239C82.0681 44.077 82.2593 44.2669 82.5143 44.2669H86.3707C86.6257 44.2669 86.8169 44.077 86.8169 43.8239V36.6412C86.8169 36.6412 88.6973 39.1409 92.8087 39.1409C96.0595 39.1409 101.286 36.5463 101.286 29.6167C101.318 22.6555 96.3782 19.9343 92.6174 19.9343ZM91.6294 35.0275C89.016 35.0275 86.785 32.7493 86.785 29.5218C86.785 27.56 88.028 24.0794 91.5976 24.0794C95.1671 24.0794 96.5057 26.9272 96.5057 29.5218C96.4738 32.1164 95.0396 35.0275 91.6294 35.0275Z" fill="#30292F"/>
            <path d="M112.473 19.9343C106.386 19.9343 102.625 24.8704 102.625 29.5534C102.625 34.6794 106.641 39.1725 112.505 39.1725C118.401 39.1725 122.385 34.5528 122.385 29.5534C122.385 24.554 118.56 19.9343 112.473 19.9343ZM112.505 35.0275C110.019 35.0275 107.31 32.9707 107.31 29.5534C107.31 26.1361 109.764 24.111 112.505 24.111C114.608 24.111 117.604 25.8513 117.604 29.5534C117.604 33.2555 114.991 35.0275 112.505 35.0275Z" fill="#30292F"/>
            <path d="M134.56 23.9845V20.7254C134.56 20.4722 134.368 20.2824 134.113 20.2824H129.715V15.8525C129.715 15.5994 129.524 15.4095 129.269 15.4095H125.476C125.221 15.4095 125.03 15.5994 125.03 15.8525V20.2824H123.182C122.927 20.2824 122.735 20.4722 122.735 20.7254V23.9845C122.735 24.2376 122.927 24.4275 123.182 24.4275H125.03C125.03 24.4275 125.03 31.6101 125.03 33.6669C125.03 35.7236 125.986 39.046 130.161 39.046C132.074 39.046 133.731 38.3815 134.336 38.0967C134.496 38.0334 134.591 37.8752 134.591 37.6854V34.4895C134.591 34.2048 134.273 34.0149 134.018 34.2048C133.572 34.4895 132.87 34.806 131.819 34.806C129.843 34.806 129.715 33.477 129.715 32.5278C129.715 31.5785 129.715 24.4275 129.715 24.4275H134.113C134.368 24.4275 134.56 24.2376 134.56 23.9845Z" fill="#30292F"/>
            <path d="M138.894 18.0358C140.513 18.0358 141.826 16.7325 141.826 15.1248C141.826 13.5171 140.513 12.2137 138.894 12.2137C137.275 12.2137 135.962 13.5171 135.962 15.1248C135.962 16.7325 137.275 18.0358 138.894 18.0358Z" fill="#30292F"/>
            <path d="M140.775 38.7612H136.982C136.727 38.7612 136.536 38.5713 136.536 38.3182V20.7253C136.536 20.4722 136.727 20.2823 136.982 20.2823H140.775C141.029 20.2823 141.221 20.4722 141.221 20.7253V38.3182C141.221 38.5397 141.029 38.7612 140.775 38.7612Z" fill="#30292F"/>
            <path d="M145.428 24.4274H143.611C143.356 24.4274 143.165 24.2376 143.165 23.9845V20.7253C143.165 20.4722 143.356 20.2824 143.611 20.2824H145.428C145.428 20.2824 145.428 19.871 145.428 19.08C145.428 18.2889 145.555 13.3212 151.197 13.3212C154.001 13.3212 154.894 13.954 154.894 13.954C154.894 13.954 154.894 16.9916 154.894 17.308C154.894 17.6245 154.766 17.9092 154.416 17.7827C154.065 17.6561 153.013 17.3713 152.153 17.3713C151.292 17.3713 150.113 17.8776 150.113 19.3647C150.113 19.9027 150.113 20.2824 150.113 20.2824H157.029C157.22 20.2824 157.38 20.4089 157.443 20.5671L162.256 32.9707L166.59 20.6304C166.654 20.4406 166.813 20.314 167.005 20.314H171.243C171.435 20.314 171.594 20.5039 171.498 20.6937C170.51 23.2567 164.869 37.7486 164.136 39.5839C163.339 41.6089 162.001 44.3618 158.113 44.3618C155.85 44.3618 154.416 43.6024 153.81 43.2227C153.619 43.0961 153.555 42.8746 153.651 42.6531L155.021 39.7104C155.085 39.5839 155.244 39.5522 155.34 39.6155C155.722 39.8686 156.647 40.3116 157.698 40.3116C159.228 40.3116 159.929 38.508 159.929 38.508L154.001 24.4591H150.113V38.3498C150.113 38.603 149.922 38.7928 149.667 38.7928H145.842C145.587 38.7928 145.396 38.603 145.396 38.3498L145.428 24.4274Z" fill="#30292F"/>
            <path d="M173.857 21.5481H175.259C175.641 21.5481 175.96 21.643 176.151 21.8645C176.311 22.0227 176.406 22.2759 176.406 22.5606C176.406 23.0669 176.151 23.3517 175.737 23.5099L176.502 24.6174H175.705L175.036 23.6365H174.526V24.6174H173.857V21.5481ZM175.227 23.0353C175.546 23.0353 175.737 22.8454 175.737 22.5923C175.737 22.3075 175.546 22.1493 175.195 22.1493H174.526V23.0353H175.227Z" fill="#30292F"/>
            <path d="M175.068 26.0412C173.474 26.0412 172.168 24.7438 172.168 23.1618C172.168 21.5797 173.474 20.2823 175.068 20.2823C176.662 20.2823 177.968 21.5797 177.968 23.1618C177.968 24.7438 176.693 26.0412 175.068 26.0412ZM175.068 20.5671C173.634 20.5671 172.486 21.7062 172.486 23.1301C172.486 24.554 173.666 25.6931 175.068 25.6931C176.47 25.6931 177.65 24.5223 177.65 23.1301C177.65 21.7379 176.502 20.5671 175.068 20.5671Z" fill="#30292F"/>
            <path d="M37.3846 39.1092C37.0659 39.1092 36.7791 39.0143 36.4922 38.8561C25.9748 32.591 13.5132 36.1982 13.3857 36.2615C12.4614 36.5462 11.4734 36.0083 11.1866 35.0907C10.8997 34.1731 11.4415 33.1922 12.3658 32.9074C12.9395 32.7492 26.421 28.7624 38.277 35.8501C39.1056 36.3564 39.3606 37.4006 38.8826 38.2233C38.5638 38.7928 37.9902 39.1092 37.3846 39.1092Z" fill="#F9F5EA"/>
            <path d="M40.4126 31.9582C40.062 31.9582 39.7114 31.8633 39.3927 31.6735C26.1981 24.1427 12.876 28.5093 12.7485 28.5726C11.6649 28.9523 10.4857 28.3827 10.1032 27.3069C9.72075 26.2311 10.2944 25.0603 11.378 24.6806C11.9836 24.4591 26.6124 19.6496 41.4325 28.0979C42.4205 28.6675 42.7711 29.9332 42.1974 30.9141C41.8468 31.5785 41.1456 31.9582 40.4126 31.9582Z" fill="#F9F5EA"/>
            <path d="M43.6952 23.858C43.2808 23.858 42.8984 23.7631 42.5159 23.5732C27.3134 15.6311 11.6647 20.3774 11.5054 20.4407C10.1668 20.852 8.73259 20.1243 8.31826 18.7953C7.90394 17.4663 8.63697 16.0425 9.97556 15.6311C10.7086 15.4096 27.7915 10.2204 44.8744 19.1117C46.1174 19.7762 46.5954 21.295 45.958 22.529C45.5118 23.3517 44.6194 23.858 43.6952 23.858Z" fill="#F9F5EA"/>
        </svg>
        </div>
        <div class="w-full">
            <h2 class="mb-8">
                {{ section.settings.heading }} <a href="{{ product.metafields.custom_fields.playlist_link }}" class="underline hover:text-vine" target="_blank">{{ product.metafields.custom_fields.playlist_name }}</a>
            </h2>
            {% if product.metafields.custom_fields.partnership_link %}
            <p>
                {{ section.settings.text }} <a href="{{ product.metafields.custom_fields.partnership_link }}" class="underline hover:text-vine" target="_blank">{{ product.metafields.custom_fields.partnership_name }}.</a>
            </p>
            {% endif %}
        </div>
    </div>
{% endif %}

{% schema %}
{
    "name": "Spotify",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "default": "Get Down With",
            "label": "Heading"
        },
        {
            "type": "text",
            "id": "text",
            "default": "Check out our playlist pairings curated in partnership with",
            "label": "Text"
        }
    ],
    "presets": [
        {
            "name": "Spotify"
        }
    ]
}
{% endschema %}