{{ 'team-members.css' | asset_url | stylesheet_tag }}

<div class="bg-vine text-fullMoon">
    <div class="container mx-auto">
    <div class="flex flex-wrap justify-center p-32 md:p-64">
        <div class="w-full pb-32">
            <h2>
                {{ section.settings.heading }}
            </h2>
        </div>
    {%  for block in section.blocks %}
        <div class="{% if block.settings.featured %}w-full{%  else %}md:w-1/2 lg:w-1/3 w-full{% endif %} md:p-32 team-member">
            <div class="flex flex-wrap items-top image-with-text__grid {% if block.settings.layout == 'text_first' %} lg:flex-row-reverse{% endif %} -mx-32">
                <div class="{% if block.settings.featured %}md:w-1/2 lg:w-1/3 w-full{% else %}w-full{% endif %} p-32">
                    <div class="aspect-w-1 aspect-h-1 team-member-image {% if block.settings.image == blank %}image-with-text__media--placeholder placeholder{% endif %}"
                    >
                        {% comment %}{% if section.settings.height == 'adapt' and section.settings.image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"{% endif %}{% endcomment %}
                        {%- if block.settings.image != blank -%}
                            <img src="{{ block.settings.image | img_url: '2000x' }}"
                                 alt="{{ block.settings.image.alt | escape }}"
                                 loading="lazy"
                                 width="{{ block.settings.image.width }}"
                                 height="{{ block.settings.image.height }}"
                                 class="w-full h-full object-center object-cover lg:w-full lg:h-full image"
                            >
                        {%- else -%}
                            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                        {%- endif -%}
                    </div>
                </div>
                <div class="{% if block.settings.featured %}lg:w-2/3{% else %}w-full text-center{% endif %} p-32">
                    {%- if block.settings.name -%}
                        <h2>
                            {{ block.settings.name | escape }}
                        </h2>
                    {%- endif -%}
                    {%- if block.settings.position -%}
                        <h3>
                            {{ block.settings.position | escape }}
                        </h3>
                    {%- endif -%}
                    {%- if block.settings.bio -%}
                        {%  if block.settings.featured %}
                            <div>{{ block.settings.bio }}</div>
                        {%  endif %}
                    {%- endif -%}
                </div>
            </div>
        </div>
    {% endfor %}
        <svg
            width="0"
            height="0"
        >
            <defs>
                <clipPath id="teamMask" clipPathUnits="objectBoundingBox">
                    <path transform="scale(0.00164,0.0017)" d="M0.966081911,292.946119 C-1.03978709,246.864119 -1.81133709,198.963119 18.4652129,157.403119 C38.7427129,115.841119 77.1762129,86.5607186 114.931013,59.3571186 C151.739013,32.8363186 190.794013,5.47866859 236.102013,0.589508591 C280.365013,-4.18698141 320.926013,21.2983186 363.987013,32.4813186 C405.728013,43.3217186 450.892013,42.9617186 487.305013,65.8284186 C525.015013,89.5097186 554.531013,124.830119 574.149013,164.459119 C593.811013,204.177119 601.575013,248.781119 599.739013,292.946119 C597.937013,336.298119 581.441013,376.766119 563.674013,416.455119 C545.504013,457.045119 528.799013,500.250119 494.232013,528.635119 C459.481013,557.171119 413.717013,568.107119 369.240013,576.117119 C325.841013,583.932119 281.753013,583.531119 238.560013,574.675119 C194.899013,565.724119 152.598013,550.449119 116.704013,524.341119 C80.1857129,497.779119 50.1039129,463.138119 30.0261129,422.997119 C9.86247291,382.684119 2.92108291,337.860119 0.966081911,292.946119 Z"></path>
                </clipPath>
            </defs>
        </svg>
    </div>
</div>
</div>


{% schema %}
{
    "name": "Team Members",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        }
    ],
    "blocks": [
        {
        "type": "teamMember",
        "name": "Team Member",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "select",
                "id": "layout",
                "options": [
                    {
                        "value": "image_first",
                        "label": "t:sections.image-with-text.settings.layout.options__1.label"
                    },
                    {
                        "value": "text_first",
                        "label": "t:sections.image-with-text.settings.layout.options__2.label"
                    }
                ],
                "default": "image_first",
                "label": "t:sections.image-with-text.settings.layout.label",
                "info": "t:sections.image-with-text.settings.layout.info"
            },
            {
                "type": "checkbox",
                "id": "featured",
                "default": false,
                "label": "Featured"
            },
            {
                "type": "text",
                "id": "name",
                "label": "Name"
            },
            {
                "type": "text",
                "id": "position",
                "label": "Position"
            },
            {
                "type": "richtext",
                "id": "bio",
                "label": "Bio"
            }
        ]
}
],
    "presets": [
        {
            "name": "Team Members",
            "blocks": [
                {
                    "type": "teamMember"
                }
            ]
        }
    ]
}
{% endschema %}
